<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../Skeleton/stylesheets/skeleton.css">
    <link rel="stylesheet" type="text/css" href="../Skeleton/stylesheets/layout.css">
    <link rel="stylesheet" type="text/css" href="../Skeleton/stylesheets/base.css">
</head>
<body class='container'>

<div class="six columns" ></div>
<div style="color: red; float:" class="five columns">
<p>Bob Ross</p>
<p>email@happytrees.org</p>
<p>@bobrossboss</p>
</div>
<div class="five columns"></div>
</body>
</html>
