<!DOCTYPE html>
<html>
<head>
    <title>My Face</title>
    <link rel="stylesheet" href="stylesheets/base.css">
        <link rel="stylesheet" href="stylesheets/skeleton.css">
        <link rel="stylesheet" href="stylesheets/layout.css">
</head>
<body class="container">
    <h1>Bob Ross</h1>
    <a href="/contact">
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/43/Unibrow_Close_Up.jpg" class="four columns">
    </a>

    <ul>
        <li>Painting</li>
        <li>Ghost in the Shell</li>
        <li>Foosball</li>
        <li>Karate</li>
    </ul>
</html>